<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon-96x96.png">
    <script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>
         <script type="text/javascript">
            loggedUser = {{username|tojson}}
         </script>
    <title>API Wars | Home page</title>
</head>

<body onload="loadingIcon()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">API Wars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Planet list</a>
                    </li>
                    {% if 'username' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Voting statistics</a>
                    </li>
                    {% endif %}
                    {% if 'username' not in session %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('registration') }}">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <button id='audio_on_off' class="btn btn-secondray" onclick="playAudio()" ondblclick="pauseAudio()"><img id="audio_on_off_image" src="../static/sound.png"> Music On / Off</button>
                    </li>
                </ul>
                {% if 'username' in session %}
                    <span class="navbar-text position-absolute top-50 start-50 translate-middle">
                        Singned in as {{ username }}
                    </span>
                {% else %}
                    <span class="navbar-text position-absolute top-50 start-50 translate-middle">
                        {{ username }} please Login!
                    </span>
                {% endif %}
            </div>
        </div>
    </nav>


    {% block content %}{% endblock %}



</body>
</html>